<link rel="stylesheet" href="/css/biStyle.css">
    <footer>
        <div>
            <p>Copyright © 2023 West-Mec</p>
        </div>
        <div class="footer-row">
            <p>About US</p>
            <p>Contact</p>
            <p>Information</p>
        </div>
    </footer>
    <script src="../../js/script.js"></script>
    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }
     
        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>
</body>
</html>